.container
{
    background-color: chocolate;
    max-width: 800px;
    overflow: auto;
}
button
{
    padding: 3px;
    color: antiquewhite;
    background-color: chocolate;
    border-radius: 10px;
    margin-top: 4px;
}
button:hover
{
    color: white;
    background-color: chocolate;
}
input
{
    text-align: center;
    padding: 7px;
    border: 1px solid chocolate;
    border-radius: 15px 15px;
    color: burlywood !important;
}
a
{
    text-decoration: none;
    color:azure;
}
.signup,.chat,.fotter,.login,.profile,.header
{
    margin: auto;
    border: 1px solid white;
    max-height: 35em;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: auto;
}
.signup,.login,.profile
{
    text-align: center;
}
.signup p,.login p,.profile p
{
    color: azure;
}

.chat #usermsgs
{
    max-width: 40%;
    max-height: 300px;
    box-sizing: border-box;
    color: azure;
    overflow: hidden;
    overflow-wrap: break-word;
    border-radius: 15px 5px;
    padding: 4px;
    border: 2px solid white;
    overflow: auto;
}
.chat strong
{
    color: cornflowerblue;
}
.chat textarea
{
    resize: none;
    width: 50%;
    height: 5em;
    border: 1px solid lightcoral;
    border-radius: 20px;
    padding: 4px;
}
.chat #sendmsgto
{
    text-align: center;
    color: brown
}
.chatingarea button
{
    display: inline;
    padding: 4px;
}
.chatingarea a
{
    color: brown;
}
.fotter
{
    text-align:center;
    color: azure
} 
.profile ul
{
    list-style: none;
    width: 100%;
    margin: auto;
    text-align:center;

}
.profile li
{
    display: inline-flex;
    background-color: unset;
    padding: 1px;
    border: 1px solid burlywood;
    color: brown;
}
.header
{
    list-style: none;
    padding: 12px 0px;
    width: 100%;
    text-align:center;
}
.header ul 
{
    display:inline-flex;
}
.header li
{
    display: inline-flex;
    background-color: chocolate;
    padding: 0.299em;
    margin-left: 4px;
    border: 1px solid;
    text-align: center;
    border-radius: 12px 0px;
    color:azure;
}  
.header li:hover
{
    background-color: white;
    color: chocolate;
    border-radius:10;
}
.aboutme
{
    margin-top: 10px;
    text-align: left;
}
.aboutme h2
{
    color: darkblue;
}
.aboutme p
{
    color: brown;
}
.aboutme strong
{
    color: dimgray;
}